#sunedit-area p,
.blog #sunedit-area p * {
  width: 100% !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 2.142 !important;
  color: #3b3d42 !important;
}

.sun-editor-editable {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  #sunedit-area p,
  #sunedit-area p * {
    padding: 0; /*disable padding in styled.css file */
    width: 100%;
    font-size: 16px !important;
  }
}
